<a href="https://colab.research.google.com/github/Bmeenakshi21/jntua-python/blob/master/day_9(30_1_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# markdown
## markdown
### markdown
#### markdown

**points**

*points*

***points***

### inserting image
[image](
```

][link text](https://https://www.google.com/search?q=jntua&sxsrf=ACYBGNSnAtutkVccUlObMAfy8RNLmX0jEA:1580382054125&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjx6Mf3lavnAhXUF3IKHVg5CTIQ_AUoBHoECA0QBg&biw=1600&bih=789#imgrc=Yljz3WmB-oADhM:)

In [2]:
print("hello, jntua","|||" ,"chemical","|||","cse" ,"|||","MCA")

hello, jntua ||| chemical ||| cse ||| MCA

Assignment

In [7]:
n1 = 100 # single variable assignment
n1
a = b = c =10 # multi variable assignment of same value
print(a,b,c)
a1,b1,c1=100,200,300 # multi variable assignment with different value
print(a1,b1,c1)

10 10 10
100 200 300

# data types and conversions
* int
* float
* string

In [5]:
a1=100
s1 = 10.2
s2= "python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [6]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [8]:
# length
a = 123456
print(len(str(a)))

6

reading input from user---input function

In [11]:
a = input("enter ur name :")
print(a)
print(type(a))

enter ur name :jntua
jntua
<class 'str'>

In [12]:
b = int(input("enter ur age :"))
print(b)
print(type(b))

enter ur age :20
20
<class 'int'>

# operators
- operator is a symbol used to perform a specific kind of operation

# arthematic operator
- +
- -
- *
- /
- %
- //

In [14]:
a = 1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# relational operator
- =
- ==
- !=
- <
- >
- =<
- =>

In [15]:
x =10
a1 = x > 15
print(a1)

False

# logical operators
- and
- or
- not

In [32]:
i = 100
a1 = (i>15) and (i < 800)
a2 = (i>15) or (i > 800)
i = not 100
print(a1)
print(a2)
print(i)

True
True
False

# control flow statements
- conditional statements
- looing statements

# if-else statements
## syntax
# if boolean_condition
# statements
# else:
# statements

In [23]:
# To check given is even or odd
n = int(input("enter a number"))
if n%2 ==0:
  print(n,"is even number")
else:
    print(n,"is odd number")

enter a number45
45 is odd number

In [34]:
# to check given number is perfectly multiples of 3 and 5
n = int(input("enter a number"))
if n%3 ==0 and n%5 ==0:
  print(n,"is multiple of 3 and 5")
else:
  print(n,"not a multiple of 3 and 5")

enter a number15
15 is multiple of 3 and 5

In [41]:
# to check whether a given number is positive,negative,zero
n = int(input("enter a number"))
if n>0:
  print(n,"is positive")
elif n<0:
 print(n,"is negative")
else:
  print(n,"is zero")

enter a number40
40 is positive

find the largest number among 3 given numbers

In [40]:
a=int(input("enter a"))
b=int(input("enter b"))
c=int(input("enter c"))
if(a>b and a>c):
  print("a is greater")
elif(b>a and b>c):
   print("b is greater")
else:
     print("c is greater")

enter a45
enter b25
enter c35
a is greater

leap year

In [50]:
# to find leap year
n = int(input("enter a number"))
if (n%4 ==0 and n%400! ==0 and n%100 ==0):
  print("is leap year")
else:
   print("not a leap year")

SyntaxError: ignored